@import "../../utils/commons.scss";

.container{
    @extend .flexRow;
    justify-content: center;
 form{
    padding:2rem 3rem;
    @extend .flexCol;
    width: fit-content;
    box-shadow: 0 0 2px rgb(202, 202, 202); 
 }
}