@import "../../utils/commons.scss";

.NFTCard {
  width: 300px;
  height: 350px;
  // box-shadow: 0 0 5px rgb(177, 177, 177);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  position: relative;
  padding: 1.5rem 1.5rem;
  border-radius: 12px;
  transition: all 0.1s;

  overflow: hidden;
  .id {
    font-size: 1.1rem;
    margin: 1rem 0;
    letter-spacing: 1px;
    overflow: auto;
    width: 100%;
  }
  .name {
    font-size: 1rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
  }
  .SCID {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
  .mintedOn {
    font-size: 0.8rem;
  }
  .expiresIn {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    span {
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
  .buttons {
    position: absolute;
    width: 100%;
    padding: 1.5rem;
    bottom: 0;
    left: 0;
    button {
      margin: 0.5rem 0;
      width: 100%;
    }
  }
  p {
    letter-spacing: 0.6px;
  }
}

.collectionCard {
  width: 250px;
  height: 100px;
  border-radius: 12px;
  border: 3px solid var(--clr-primary);
  // box-shadow: 0 0 5px rgb(177, 177, 177);
  // overflow: hidden;
  cursor: pointer;
  @extend .flexRow;
  .coverImage {
    background-color: rgb(162, 193, 225);
  }
  .info {
    // height: calc(250px - 170px);
    @extend .flexRow;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    p {
      @extend .flexRow;
      justify-content: center;
      font-size: 1.1rem;
      font-weight: 600;
      width: 100%;
      color: #252424;
      letter-spacing: 0.5px;
    }
    img {
      width: 22px;
      margin-left: 1rem;
    }
  }
  // .profileImage {
  //   width: 80px;
  //   // position: absolute;
  //   // top: -0.7rem;
  //   background-color: rgb(233, 233, 253);
  //   left: 1.5rem;
  //   border: 4px solid white;

  //   box-shadow: 0 0 2px rgb(182, 182, 182);
  //   border-radius: 8px;
  // }
  &:hover {
    box-shadow: 0 0 2px var(--clr-primary);
    background-color: rgb(32, 129, 226);
    p {
      color: white;
    }
  }
}
.transferModalContainer,
.issueModalContainer,
.viewStatusModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(rgb(0, 0, 0), 0.5);
  @extend .flexRow;
  align-items: center;
  justify-content: center;
  z-index: 10000000;
  p{
    font-size: 1rem;
    margin:1rem 0;
    letter-spacing: 1px;
    span {
      text-transform: capitalize;
      font-weight: 600;
      color: rgb(91, 91, 91);
    }
  }
  .modal {
    background-color: white;
    position: relative;
    padding: 2rem;
    border-radius: 10px;
    > div:first-child {
      width: 500px;
    }
    .header {
      @extend .flexRow;
      justify-content: space-between;
      .image {
        cursor: pointer;
        @extend .flexRow;
        border-radius: 50%;
        img {
          width: 40px;
          height: 40%;
        }
        &:hover {
          background-color: rgb(230, 230, 230);
        }
      }
    }
    .buttons {
      width: 100%;
      padding: 0;
      position: relative;
      @extend .flexRow;
      justify-content: space-between;
      button {
        margin: 1rem 0.3rem;
      }
    }
  }
}
