@import "../../utils/commons.scss";

.container{
    // background-color: red;
    width: 300px;
    cursor: pointer;
    height: 350px;
    box-shadow: 0 0 10px rgba($color: #555555, $alpha: 0.5);
    transition: all 0.2s;
    position: relative;
    &:hover{
        box-shadow: 0 0 10px rgba($color: #555555, $alpha:1);

    }
.info{
    position: absolute;
    bottom: 0;
    padding:0.7rem 1rem;
    @extend .flexCol;
   align-items: flex-start;
    width: 100%;
    // background-color: green;
    h3{
        width: fit-content;
        // background-color: blue;
    }
    .id{
        font-size: 0.8rem;
        margin:1rem 0;
    }
    p{
        margin:0.5rem 0;
    }
    span{
        font-weight: 600;
        color:rgb(45, 45, 45);
    }
}
}