*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:rgb(53, 56, 64);
}

:root {
  --clr-primary: rgb(32, 129, 226);
  --clr-bg: rgb(255,255,255);
  --nav-height: 4.5rem;
  --sidemenu-width: 300px;
  --fixed-width: 100%;
  --default-padding-horizontal:1rem;
}
html{
  font-size: 16px;
  font-family: Poppins, sans-serif;
  
}
h1{
  margin:0.7rem 0;
}
h2{
  margin:0.7rem 0;
}